/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #mainContainer {
  width: 100%;
  /* margin-left: 15%; */
 }

 #main {
  height: 780px;
 }

 .contact-table-scroll{
  overflow-y: scroll;
  height: 330px;
 }

 .icon {
  color: grey;
  margin-top: 10px;
  margin-left: 2px;
 }

 .side-bar-items {
  margin-top: 10px;
  width: 20px;
  height: 25px;
 }

 a {
  text-decoration: none;
  margin-top: 8px;
  font-size: large;
 }

 .trashed-table-scroll {
    overflow-y: scroll;
    height: 720px; 
 }

 .completed-table-scroll {
  /* overflow-y: scroll; */
  height: 660px; 
}

 #newTask {
   height: 720px;
 }

 .pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #ddd;
.first{
  padding : 0;
  float: none;
  border: none;
}
.prev {
  padding : 0;
  float: none;
  border: none;
}
.page{
  padding : 0;
  float: none;
  border: none;
}
.next{
  padding : 0;
  float: none;
  border: none;
}
.last{
  padding : 0;
  float: none;
  border: none;
}
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);

body {
    font-family: "Roboto", sans-serif;
    background: #EFF1F3;
    min-height: 100vh;
    position: relative;
}

.section-50 {
    padding: 50px 0;
}

.m-b-50 {
    margin-bottom: 50px;
}

.dark-link {
    color: #333;
}

.heading-line {
    position: relative;
    padding-bottom: 5px;
}

.heading-line:after {
    content: "";
    height: 4px;
    width: 75px;
    background-color: #29B6F6;
    position: absolute;
    bottom: 0;
    left: 0;
}

.notification-ui_dd-content {
    margin-bottom: 30px;
}

.notification-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 7px;
    background: #fff;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

.notification-list--unread {
    border-left: 2px solid #29B6F6;
}

.notification-list .notification-list_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.notification-list .notification-list_content .notification-list_detail p {
    margin-bottom: 5px;
    line-height: 1.2;
}
